<header>
  <h1 style="color:#D61A46;text-align:center"  style="font-family:verdana;"><a href="/urls">TinyApp</a></h1>

  <h3 style="color:#9A0794;text-align:center" style="font-family:verdana;">
  <a href="/login">Login</a>  <a href="/register">Register</a></h3>
  <body style="background-color:#6600ff;">

</header>

