<header>
  <h1 style="color:blue;text-align:center">TinyApp</h1>
<!-- <form method="POST" action="/login" style="margin:150px;">
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <button type="submit">Login</button> -->

    <% if (!username) {%>
    <form method="POST" action="/login" style="margin:150px;">
    <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <button type="submit">Login</button>
    </div>
    </form>
    <%} else {%>
    <form method="POST" action="/logout">
    <button type="submit">Log out</button>
    </form>
    <%}%>


</header>