<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <ul>
    <% include ./partials/_header %>
   <% for (var shorterUrl in urls) { %>
    <li><%= shorterUrl + urls[shorterUrl] %></li>
        <%}%>

  </ul>

</body>
</html>