<html lang="en-US">

  <body>
    <% include ./partials/_header %>




    <form method="POST" action="/login" style="margin:150px;">
    <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">
    <input id="password" type="text" name="password" placeholder="Password">
    <button type="submit">Login</button>
    </div>
    </form>


</body>
</html>
