<html lang="en-US">
<head>
  <meta charset="utf-8">
    <title>Register</title>

</head>

<body>
    <div id="Register">
      <form name='form-login' method="POST" action="/register">
        <span class="fontawesome-user"></span>
          <input type="email" name="email" placeholder="Your email">

        <span class="fontawesome-lock"></span>
          <input type="password" name="password" placeholder="password">

        <input type="submit" value="Register">

</form>
</div>
</body>

</html>
