<html lang="en-US">

  <body>
    <% include ./partials/_header %>


    <% if (typeof(user) !== "undefined" && user) { %>
     <h1><%= user['email'] %></h1>
    <form method="POST" action="/logout">
    <button type="submit">Log out</button>
    </form>
    <%} else {%>
    <form method="POST" action="/login" style="margin:150px;">
    <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">
    <input id="password" type="text" name="password" placeholder="Password">
    <button type="submit">Login</button>
    </div>
    </form>
    <% } %>

</body>
</html>
