<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <ul>
    <% include ./partials/_header %>
   <% for (var shortUrl in urls) { %>
    <li><%= shortUrl + urls[shortUrl] %></li>
        <%}%>

  </ul>

</body>
</html>