<!DOCTYPE html>
<html lang="en">
 <head>
      <title>TinyApp</title>
  </head>

<body>

  <header>
      <% include ./partials/_header %>
    </header>

    <h3>URL Result</h3>
    <p><strong>Short Link-</strong><%= shorterUrl %></p>
    <p><strong>Original Link-</strong><%= longerUrl %></p>
    <form method="POST" action="/urls//delete">
    <button type="submit">Delete second URL</button>
    </form>




</body>
</html>