<!DOCTYPE html>
<html lang="en">
 <head>
      <title>TinyApp</title>
  </head>

<body>

  <header>
      <% include ./partials/_header %>
    </header>


  <% include ./partials/_header %>
    <h3>Long & Short URL</h3>
    <p><%= shorterUrl %></p>
    <p><%= longerUrl %></p>



</body>
</html>