<html lang="en-US">

  <body>
    <% include ./partials/_header %>




    <form method="POST" action="/login" style="margin:100px;">
    <div class="container">
    <label for="username" style="font-family:verdana;"><b>Enter Your Username Here:</b></label><br><br>
    <input type="text" placeholder="Enter Username" name="username">
    <input id="password" type="text" name="password" placeholder="Password">
    <button type="submit" style="font-family:verdana;">Login</button>
    </div>
    </form>


</body>
</html>
